.video{
  width: 100%;
  height: 100%;
  background-color: greenyellow;
  color: white;
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;
  max-width: 750px;
  background: url("http://qn.media.epub360.com/materials/origin/caaa1f7b4ac5bb92cd7bdefd4b918ff0_origin.jpg") no-repeat top center/contain;
  .tv{
    width: 500px;
    height: 500px;
    background: url("http://qn.media.epub360.com/materials/origin/af7a7937ac60dbc5891a920a4c8af572_origin.png") no-repeat center center/contain;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    .tv-screen{
      width: 440px;
      height: 320px;
      //background-color: red;
      position: absolute;
      top: 36px;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 10px;
      video{
        width: 100%;
        height: 100%;
      }
    }
  }
  .handle-area-video{
    background-color: #f1d8b1;
    padding: 20px 40px;
    position: absolute;
    top: 64%;
    left: 50%;
    transform: translateX(-50%);
    color: #ac8556;
    font-size: 30px;
  }
}
