.art-show{
    width: 100%;
    height: 100%;
    color: black;
    z-index:-10;
    position: relative;
    top: 0;
    left: 0;
    max-width: 750px;
    overflow-x: scroll;
    overflow-y: hidden;
    background-color: white;
    .bg-img{
        width: 10990px;
        z-index: -9;
        position: absolute;
        top: 0;
        left: 0;
    }

    .hot{
        //background-color: red;
        //opacity: .4;
    }
    //.hot-0{width:103px;height:380px;left:172px;top:300px;position:absolute;}
    //.hot-1{width:75px;height:124px;left:311px;top:204px;position:absolute;}
    //.hot-2{width:89px;height:219px;left:418px;top:253px;position:absolute;}

    .hot-0{width:164px;height:522px;left:218px;top:416px;position:absolute;}
    .hot-1{width:106px;height:198px;left:428px;top:274px;position:absolute;}
    .hot-2{width:148px;height:320px;left:564px;top:344px;position:absolute;}
    .hot-3{width:102px;height:308px;left:747px;top:354px;position:absolute;}
    .hot-4{width:96px;height:310px;left:883px;top:352px;position:absolute;}
    .hot-5{width:86px;height:328px;left:1015px;top:352px;position:absolute;}
    .hot-6{width:144px;height:316px;left:1139px;top:350px;position:absolute;}
    .hot-7{width:130px;height:312px;left:1303px;top:350px;position:absolute;}
    .hot-8{width:122px;height:310px;left:1463px;top:356px;position:absolute;}
    .hot-9{width:346px;height:142px;left:1643px;top:352px;position:absolute;}
    .hot-10{width:164px;height:214px;left:1625px;top:542px;position:absolute;}
    .hot-11{width:184px;height:222px;left:1825px;top:536px;position:absolute;}
    .hot-12{width:192px;height:402px;left:2072px;top:390px;position:absolute;}
    .hot-13{width:106px;height:414px;left:2432px;top:294px;position:absolute;}
    .hot-14{width:106px;height:426px;left:2576px;top:284px;position:absolute;}
    .hot-15{width:104px;height:438px;left:2736px;top:290px;position:absolute;}
    .hot-16{width:100px;height:410px;left:2866px;top:294px;position:absolute;}
    .hot-17{width:184px;height:414px;left:3016px;top:296px;position:absolute;}
    .hot-18{width:172px;height:416px;left:3244px;top:294px;position:absolute;}
    .hot-19{width:118px;height:404px;left:3451px;top:286px;position:absolute;}
    .hot-20{width:362px;height:192px;left:3617px;top:288px;position:absolute;}
    .hot-21{width:354px;height:220px;left:3609px;top:500px;position:absolute;}
    .hot-22{width:112px;height:412px;left:4021px;top:296px;position:absolute;}
    .hot-23{width:190px;height:424px;left:4153px;top:288px;position:absolute;}
    .hot-24{width:128px;height:414px;left:4373px;top:292px;position:absolute;}
    .hot-25{width:120px;height:430px;left:4520px;top:288px;position:absolute;}
    .hot-26{width:188px;height:416px;left:4666px;top:284px;position:absolute;}
    .hot-27{width:110px;height:436px;left:4878px;top:288px;position:absolute;}
    .hot-28{width:178px;height:412px;left:5031px;top:290px;position:absolute;}
    .hot-29{width:70px;height:420px;left:5239px;top:284px;position:absolute;}
    .hot-30{width:96px;height:412px;left:5341px;top:296px;position:absolute;}
    .hot-31{width:152px;height:178px;left:5471px;top:396px;position:absolute;}
    .hot-32{width:154px;height:412px;left:5659px;top:296px;position:absolute;}
    .hot-33{width:94px;height:426px;left:5841px;top:292px;position:absolute;}
    .hot-34{width:104px;height:408px;left:5979px;top:294px;position:absolute;}
    .hot-35{width:178px;height:406px;left:6107px;top:296px;position:absolute;}
    .hot-36{width:132px;height:414px;left:6320px;top:288px;position:absolute;}
    .hot-37{width:212px;height:124px;left:6456px;top:286px;position:absolute;}
    .hot-38{width:206px;height:280px;left:6458px;top:426px;position:absolute;}
    .hot-39{width:108px;height:428px;left:6692px;top:292px;position:absolute;}
    .hot-40{width:146px;height:444px;left:6818px;top:294px;position:absolute;}
    .hot-41{width:142px;height:422px;left:6986px;top:294px;position:absolute;}
    .hot-42{width:242px;height:164px;left:7317px;top:240px;position:absolute;}
    .hot-43{width:232px;height:164px;left:7323px;top:452px;position:absolute;}
    .hot-44{width:226px;height:178px;left:7333px;top:676px;position:absolute;}
    .hot-45{width:192px;height:164px;left:7633px;top:248px;position:absolute;}
    .hot-46{width:202px;height:188px;left:7609px;top:454px;position:absolute;}
    .hot-47{width:178px;height:192px;left:7633px;top:664px;position:absolute;}
    .hot-48{width:210px;height:192px;left:7863px;top:240px;position:absolute;}
    .hot-49{width:214px;height:162px;left:7865px;top:462px;position:absolute;}
    .hot-50{width:212px;height:156px;left:7849px;top:660px;position:absolute;}
    .hot-51{width:218px;height:200px;left:8175px;top:244px;position:absolute;}
    .hot-52{width:220px;height:180px;left:8147px;top:450px;position:absolute;}
    .hot-53{width:220px;height:182px;left:8145px;top:666px;position:absolute;}
    .hot-54{width:242px;height:172px;left:8423px;top:244px;position:absolute;}
    .hot-55{width:226px;height:190px;left:8423px;top:454px;position:absolute;}
    .hot-56{width:238px;height:186px;left:8419px;top:666px;position:absolute;}
    .hot-57{width:118px;height:200px;left:8707px;top:240px;position:absolute;}
    .hot-58{width:116px;height:190px;left:8843px;top:244px;position:absolute;}
    .hot-59{width:238px;height:188px;left:8703px;top:450px;position:absolute;}
    .hot-60{width:236px;height:206px;left:8705px;top:662px;position:absolute;}
    .hot-61{width:174px;height:198px;left:9023px;top:240px;position:absolute;}
    .hot-62{width:210px;height:184px;left:9013px;top:456px;position:absolute;}
    .hot-63{width:218px;height:178px;left:9011px;top:664px;position:absolute;}
    .hot-64{width:210px;height:194px;left:9313px;top:242px;position:absolute;}
    .hot-65{width:244px;height:168px;left:9287px;top:462px;position:absolute;}
    .hot-66{width:216px;height:192px;left:9293px;top:668px;position:absolute;}
    .hot-67{width:214px;height:170px;left:9569px;top:250px;position:absolute;}
    .hot-68{width:220px;height:182px;left:9575px;top:456px;position:absolute;}
    .hot-69{width:216px;height:188px;left:9573px;top:674px;position:absolute;}
    .hot-70{width:164px;height:196px;left:9871px;top:236px;position:absolute;}
    .hot-71{width:110px;height:168px;left:9835px;top:458px;position:absolute;}
    .hot-72{width:118px;height:194px;left:9975px;top:450px;position:absolute;}
    .hot-73{width:216px;height:158px;left:9851px;top:662px;position:absolute;}
    .hot-74{width:200px;height:178px;left:10125px;top:244px;position:absolute;}
    .hot-75{width:204px;height:172px;left:10127px;top:454px;position:absolute;}
    .hot-76{width:196px;height:180px;left:10135px;top:674px;position:absolute;}
    .hot-77{width:210px;height:160px;left:10393px;top:254px;position:absolute;}
    .hot-78{width:230px;height:180px;left:10367px;top:462px;position:absolute;}
    .hot-79{width:236px;height:186px;left:10658px;top:236px;position:absolute;}
    .hot-80{width:230px;height:184px;left:10666px;top:462px;position:absolute;}


    .pop-img-zp{
        max-width: 90%;
        max-height: 90%;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .menu-icon{
        position: fixed;
        right: 20px;
        top: 20px;
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 60px;
            height: 60px;
        }
    }
    .menu{
        position: fixed;
        right: 20px;
        top: 20px;
        width: 180px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;

        .menu-i{
            background-color: rgba(0,0,0,.24);
            color: white;
            border: 3px solid lightseagreen;
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-bottom: 10px;
            width: 100%;
            padding: 15px 0;
            .menu-son{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                margin-top: 10px    ;
                .menu-son-i{
                    padding: 10px 0;
                }
            }
        }
    }
}

